html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body {
    max-width: 1240px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
/*.ushi {
    display: block;
    max-width: 1240px;
    margin: 0 auto;
    position: relative;
    padding: 0 15px;
}*/
.ushi::after {
    content: '';
    display: block;
    height: 100%;
    width: 100vw;
    background-color: inherit;
    position: absolute;
    top: 0;
    z-index: -1;
    margin: auto;
    left: -50vw;
    right: -50vw;
}
.header-top {
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.header-top a{
    color: black;
}
.header-top__mix {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5px;
}
.header-top__wrapper {
    display: flex;
    align-items: center;
    border-right: 1px solid grey;
    padding-right: 5px;
    margin-right: 5px;
}
.header-top__wrapper:hover {
    color: darkolivegreen;
}
.header-top__wrapper:active{
    color: forestgreen;
}
.header-top__social{
    display: flex;
    align-items: center;
}
.header-top__social-icon {
    margin-left: 25px;
}
.header-top__social-icon:hover {
    color: #4a4a4a;
}
.header-top__social-icon:active{
    color: indigo;
}

.header-mid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-img {
    display: inline-block;
    width: 5em;
    height: 5em;
    stroke-width: 0;
    stroke: #00c618;
    fill: #00c618;
}

.header-mid__contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__img {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    margin-right: 5px;
}
.header__img_green{
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: #00c618;
    margin-left: 5px;
}
.header-mid__contact-link{
    color: #4a4a4a;
    margin: 0 3px;
}
.header-mid__contact-link:hover{
    color: darkolivegreen;
}
.header-mid__contact-link:active{
    color: forestgreen;
}
.header__img_grey{
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: #666666;
    fill: #666666;
}
.header-mid__input{
    width: 350px;
    height: 30px;
}
.header-mid__btn{
    width: 35px;
    height: 35px;
}
.header-mid__logo {
    display: flex;
    justify-content: space-between;
}
.header-mid__logo img {
    width: 6em;
    height: 6em;
}
.header-mid__basket {
    display: flex;
    align-items: center;
    border: 1px solid #cecece;
    /*margin-right: 20px;*/
    padding: 15px;
}
.basket{
    margin-left: 15px;
}
.header-mid__basket span {
    border-right: 1px solid #cecece;
    padding: 12px;
}

nav {
    background-color: #00c618;
    padding: 15px 0;
    }
nav .menu {
    display: flex;
    /*padding-left: 35px;*/
}
.menu__list{
    color: white;
    border-left: 1px solid #ffffff;
    padding: 5px 60px;
}
.menu__list:hover{
    color: lightpink;
}
.menu__list:active{
    color: lightblue;
}
.content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 20px;
}
.aside {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
.navigation {
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: #f4f4f4;
    border: 1px solid #666666;
    /*min-width: 285px;*/
}
.navigation__title {
    background-color: #666666;
    margin: 0;
    padding: 18px 30px;
    color: white;
    font-size: 20px;
}
.navigation__list {
    color: #666666;
    border-bottom: 1px solid #666666;
    padding: 18px 30px;
}
.navigation__list:hover{
    background-color: #d2f3c0;
}
.navigation__list:active{
    background-color: #eff3c0;
}
.navigation a:last-child {
    border-bottom: none;
}
.main {
    margin-left: 30px;
}
.slider {
    width: 900px;
    height: 305px;
    border: 1px solid darkgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider__turn {
    font-size: 40px;
    color: red;
}
.slider__turn:hover{
    color: #ff824a;
}
.slider__turn:active{
    color: maroon;
}
.slider__img {
    display: inline-block;
}
.slider__heading {
    color: #666666;
    font-size: 35px;
}
.slider__new {
    color: red;
}
.slider__btn {
    border: 1px solid red;
    padding: 10px;
    color: #ff824a;
    font-size: 25px;
}
.slider__btn:hover{
    color: brown;
    border-color: maroon;
}
.slider__btn:active{
    color: indigo;
    border-color: blueviolet;
}
.promo {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    /*margin-left: 15px;*/

}
.promo__common {
    width: 265px;
    height: 90px;
    border: 1px solid darkgray;
    padding: 10px 0 10px 25px;
}
.promo__icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    padding-right: 5px;

}
.promo__icon_green{
    stroke: #99ee6b;
    fill: #99ee6b;
}
.promo__icon_red{
    stroke: red;
    fill: red;
}
.promo__icon_orange{
    stroke: #ff824a;
    fill: #ff824a;
}
.promo__title {
    font-size: 30px;
    display: flex;
    align-items: center;
}
.promo__title:hover{
    font-weight: bold;
}
.promo__title-sale {
    color: #99ee6b;
}
.promo__title-discount {
    color: #ff0000;
}
.promo__title-action {
    color: #ff824a;
}
.promo__description {
    color: #666666;
}
.content-wrapper {
    display: flex;
    justify-content: space-between;
}
.content-guide {
    color: #666666;
    font-size: 30px;
    border-bottom: 1px solid darkgray;
}
.new__oil, .discount__oil {
    border: 1px solid darkgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 0 5px;
}
.new__novelty::after {
    content: "new";
    padding: 10px 8px;
    color: #fff;
    background: #99ee6b;
    border-radius: 50%;
    margin-left: 10px;
    position: absolute;
    top: 5px;
    left: 0;
}
.new__title, .discount__title {
    color: #666666;
    font-size: 20px;
    margin-top: -5px;
}
.new__price, .discount__price {
    color: red;
    margin-top: -10px;
    font-size: 20px;
}
.new__basket, .discount__basket {
    display: flex;
    justify-content: center;
}
.section-img {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    stroke-width: 0;
    stroke: white;
    fill: white;
    padding-right: 5px
    /*margin-top: 13px;*/
}
.section-img:hover{
    fill: yellow;
}
.section-img:active{
    fill: #ff824a;
}
.section-btn {
    background-color: #00c618;
    color: white;
    padding: 8px 10px 8px 15px;
    margin-bottom: 5px;
    font-size: 18px;
    align-items: center;
    display: flex;
    align-items: center;
}
.section-btn:hover{
    font-weight: bolder;
    color: yellow;
}
.section-btn:active{
    color: #ff824a;
}
.basket-btn {
    border-right: 3px solid white;
}
.discount__minus::after {
    content: "-10%";
    padding: 12px 8px;
    color: #fff;
    background: #ff824a;
    border-radius: 50%;
    margin-left: 10px;
    position: absolute;
    top: 5px;
    left: 0;
}
.discount__cross {
    position: absolute;
    bottom: 90px;
    right: 20px;
}
.footer {
    display: flex;
    justify-content: space-around;
    background-color: #4a4a4a;
    margin-top: 55px;
}
.footer__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__img {
    display: inline-block;
    width: 6em;
    height: 6em;
    stroke-width: 0;
}
.footer__promasla {
    color: black;
    font-size: 28px;
}
.footer__bounty {
    color: #00c618;
}
.footer__menu, .footer__payment {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.footer__title {
    border-bottom: 1px solid ghostwhite;
    font-size: 20px;
    padding-bottom: 5px;
}
.footer__list {
    color: black;
    font-size: 18px;
    overflow: hidden;
}
.footer__list:hover{
    font-weight: bolder;
}
.footer__menu {
    padding-bottom: 20px;
}
.copyright {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    padding: 5px;
}
